src/private/AirplusWeb/AirplusWeb/Connected Services/AirPlusReference/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MongoDataLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MongoDataLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61071/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MongoDB.Bson" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="ListingId" nillable="true" type="q1:BsonString" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="Month" nillable="true" type="q2:BsonString" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="datetaken" nillable="true" type="q3:BsonDateTime" />
      <xs:element minOccurs="0" name="days" nillable="true" type="tns:ArrayOfDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Day" nillable="true" type="tns:Day" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDay" nillable="true" type="tns:ArrayOfDay" />
  <xs:complexType name="Day">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="available" nillable="true" type="q4:BsonBoolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="date" nillable="true" type="q5:BsonDateTime" />
      <xs:element minOccurs="0" name="price" nillable="true" type="tns:Price" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Day" nillable="true" type="tns:Day" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="date" nillable="true" type="q6:BsonDateTime" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="local_currency" nillable="true" type="q7:BsonString" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="local_price" nillable="true" type="q8:BsonDouble" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="native_currency" nillable="true" type="q9:BsonString" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="native_price" nillable="true" type="q10:BsonDouble" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MongoDB.Bson" minOccurs="0" name="type" nillable="true" type="q11:BsonString" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
</xs:schema>